input[type="text"],
input[type="email"] {
  height: 55px;
  border-radius: 20px;
  box-shadow: 0 0.125rem 0.25rem rgba(55, 146, 193, 0.5) !important;
}
textarea {
  border-radius: 20px !important;
  box-shadow: 0 0.125rem 0.25rem rgba(55, 146, 193, 0.5) !important;
}
.fa-brands {
  font-size: 35px;
}
span.icon {
  margin-top: 1px;
}
.s-media {
  border-radius: 15px;
}
